<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>首页</title>

    <link href="~/Content/styles/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/styles/font-awesome.css" rel="stylesheet" />
    @*  <link href="~/Content/styles/bootstrap.css" rel="stylesheet" />*@
    <link href="~/Content/styles/learun-ui.css" rel="stylesheet" />
    <link href="~/Content/jquery-easyui-1.5/themes/gray/easyui.css" rel="stylesheet" />
    <link href="~/Content/jquery-easyui-1.5/themes/icon.css" rel="stylesheet" />

    <script src="~/Content/Scripts/jquery/jquery-1.10.2.js"></script>
    <script src="~/Content/Scripts/jquery/jquery-ui.js"></script>
    <script src="~/Content/jquery-easyui-1.5/jquery.easyui.js"></script>
    @* <script src="~/Content/jquery-easyui-1.5/locale/easyui-lang-zh_CN.js"></script>*@
    @* <script src="~/Content/Scripts/bootstrap.js"></script>*@
    <script src="~/Content/Scripts/format.js"></script>

    @*<script src="https://qiyukf.com/script/57576cf2f926ac3830679af6e50c1835.js" defer async></script>*@

    <link href="~/Content/Media/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/Media/js/bootstrap.min.js"></script>
    <link href="~/Content/Media/css/style.css" rel="stylesheet" />
    <link href="~/Content/Media/css/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Content/Scripts/echarts-all.js"></script>
    @*<script>
        $(function () {

            $("#easyui-datagrid").datagrid({
                url: "/Notice/Query",//加载的URL
                isField: "ID",
                pagination: true,//显示分页
                //width: $(window).width(),
                //height: $(window).height() - 36,
                loadMsg: "正在努力加载...",
                fitColumns: true,
                singleSelect: true,
                rownumbers: true,//行号
                columns: [[
                     { field: 'ID', title: 'ID', width: 80, hidden: true },
                     {
                         field: 'Title', title: '标题', width: 200
                     },
                     { field: 'CreateUserName', title: '发布人', width: 100 },
                     { field: 'CreateTime', title: '发布时间 ', width: 150 },
                     { field: 'CustomerCodes', title: 'RoleID', width: 80, hidden: true },
                     { field: 'Content', title: '内容', width: 800 }
                ]]
            });

            //分页栏
            var p = $('#easyui-datagrid').datagrid('getPager');
            $(p).pagination({
                pageSize: 20,//每页显示的记录条数，默认为10
                pageList: [20, 30, 40, 50, 100],//可以设置每页记录条数的列表
                beforePageText: '第',//页数文本框前显示的汉字
                afterPageText: '页    共 {pages} 页',
                displayMsg: '当前显示 {from} - {to} 条记录   共 {total} 条记录',
                onBeforeRefresh: function () {
                }
            });

        })

        function ViewOrder(flag) {
            var moduleID = '';
            var location = '';
            var fullName = '';
            var icon = '';
            if (flag == 0) {
                moduleID = '22';
                location = '/Order/Audit';
                fullName = '申请单审核';
                icon = 'auction_hammer_gavel.png';
            } else {
                moduleID = '23';
                location = '/Order/SummaryAudit';
                fullName = '汇总审核';
                icon = 'summary_table.png';
            }
            window.parent.AddTabMenu(moduleID, location, fullName, icon, 'true');
            window.parent.linkAddTabMenu()
        }
    </script>*@

</head>
<body>

    <!-- BEGIN DASHBOARD STATS -->
    <div style="width: 98%; margin: 10px 1%;">

        <div class="row-fluid">

            <div class="span3 responsive" data-tablet="span6" data-desktop="span3">

                <div class="dashboard-stat blue">

                    <div class="visual">

                        <i class="icon-comments"></i>

                    </div>

                    <div class="details">

                        <div class="number">
                            249

                        </div>

                        <div class="desc">
                            本月新订单

                        </div>

                    </div>

                    <a class="more" href="#">查看明细<i class="m-icon-swapright m-icon-white"></i>

                    </a>

                </div>

            </div>

            <div class="span3 responsive" data-tablet="span6" data-desktop="span3">

                <div class="dashboard-stat green">

                    <div class="visual">

                        <i class="icon-shopping-cart"></i>

                    </div>

                    <div class="details">

                        <div class="number">36.4W</div>

                        <div class="desc">材料成本</div>

                    </div>

                    <a class="more" href="#">查看明细<i class="m-icon-swapright m-icon-white"></i>

                    </a>

                </div>

            </div>

            <div class="span3 responsive" data-tablet="span6  fix-offset" data-desktop="span3">

                <div class="dashboard-stat purple">

                    <div class="visual">

                        <i class="icon-globe"></i>

                    </div>

                    <div class="details">

                        <div class="number">+19%</div>

                        <div class="desc">本期同比增加率</div>

                    </div>

                    <a class="more" href="#">查看明细<i class="m-icon-swapright m-icon-white"></i>

                    </a>

                </div>

            </div>

            <div class="span3 responsive" data-tablet="span6" data-desktop="span3">

                <div class="dashboard-stat yellow">

                    <div class="visual">

                        <i class="icon-bar-chart"></i>

                    </div>

                    <div class="details">

                        <div class="number">320.04W</div>

                        <div class="desc">本月销售额(含税)</div>

                    </div>

                    <a class="more" href="#">查看明细<i class="m-icon-swapright m-icon-white"></i>

                    </a>

                </div>

            </div>

        </div>
    </div>


    <div style="width: 98%; margin: 10px 1%;text-align:center">
        <div style="width: 49%; min-width: 500px; float: left;">
            <div id="main1" style="width: 100%; height: 300px;"></div>
        </div>
        <div style="width: 49%; min-width: 500px; float: left;">
            <div id="main2" style="width: 100%; height: 300px;"></div>
        </div>
        <div style="width: 49%; min-width: 500px; float: left;">
            <div id="main3" style="width: 100%; height: 300px;"></div>
        </div>
        <div style="width: 49%; min-width: 500px; float: left;">
            <div id="main4" style="width: 100%; height: 300px;"></div>
        </div>
    </div>
    <script type="text/javascript">

        // 基于准备好的dom，初始化echarts图表
        var myChart1 = echarts.init(document.getElementById('main1'));
        var myChart2 = echarts.init(document.getElementById('main2'));
        var myChart3 = echarts.init(document.getElementById('main3'));
        var myChart4 = echarts.init(document.getElementById('main4'));

        var option1 = {
            tooltip: {
                show: true
            },
            legend: {
                data: ['销售排行']
            },
            xAxis: [
                {
                    type: 'category',
                    data: ["医疗模具配件", "化妆品模具配件", "文具模具配件", "连接器模具配件", "精密模具配件"]
                }
            ],
            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: [
                {
                    "name": "销售排行",
                    "type": "bar",
                    "data": [56, 45, 38, 35, 27]
                }
            ]
        };
        var option2 = {
            title: {
                text: '销售趋势',
                //subtext: '纯属虚构'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: ['销售金额', '销售成本']
            },
            //toolbox: {
            //    show: true,
            //    feature: {
            //        mark: { show: true },
            //        magicType: { show: true, type: ['line', 'bar'] },
            //        restore: { show: true },
            //        saveAsImage: { show: true }
            //    }
            //},
            calculable: true,
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: false,
                    data: ['2017年01月', '2017年02月', '2017年03月', '2017年04月', '2017年05月', '2017年06月', '2017年07月']
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    axisLabel: {
                        formatter: '{value}CNY'
                    }
                }
            ],
            series: [
                {
                    name: '销售金额',
                    type: 'line',
                    data: [2270000, 2570000, 2970000, 2770000, 3105000, 2908000, 3200400],
                    markPoint: {
                        data: [
                            { type: 'max', name: '最大值' },
                            { type: 'min', name: '最小值' }
                        ]
                    },
                    markLine: {
                        data: [
                            { type: 'average', name: '平均值' }
                        ]
                    }
                },
                {
                    name: '销售成本',
                    type: 'line',
                    data: [470000, 420000, 590000, 470000, 455000, 408000, 500400],
                    markPoint: {
                        data: [
                            { type: 'max', name: '最大值' },
                            { type: 'min', name: '最小值' }
                        ]
                    },
                    markLine: {
                        data: [
                            { type: 'average', name: '平均值' }
                        ]
                    }
                }
            ]
        };

        var option3 = {
            title: {
                text: '材料成本',
                //subtext: '纯属虚构',
                x: 'center'
            },
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                x: 'left',
                data: ['65Mn顶针', '电渣重熔钢', '耐酸高抛光', '大连轧板 退火态', 'S50C 模铸']
            },
            //toolbox: {
            //    show: true,
            //    feature: {
            //        mark: { show: true },
            //        magicType: {
            //            show: true,
            //            type: ['pie', 'funnel'],
            //            option: {
            //                funnel: {
            //                    x: '25%',
            //                    width: '50%',
            //                    funnelAlign: 'left',
            //                    max: 1548
            //                }
            //            }
            //        },
            //        restore: { show: true },
            //        saveAsImage: { show: true }
            //    }
            //},
            calculable: true,
            series: [
                {
                    name: '访问来源',
                    type: 'pie',
                    radius: '55%',
                    center: ['50%', '60%'],
                    data: [
                        { value: 335, name: '65Mn顶针' },
                        { value: 310, name: '电渣重熔钢' },
                        { value: 234, name: '耐酸高抛光' },
                        { value: 135, name: '大连轧板 退火态' },
                        { value: 1548, name: 'S50C 模铸' }
                    ]
                }
            ]
        };

        var option4 = {
            title: {
                text: '预算 vs 开销（Budget vs spending）',
                //subtext: '纯属虚构'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                orient: 'vertical',
                x: 'right',
                y: 'bottom',
                data: ['预算分配（Allocated Budget）', '实际开销（Actual Spending）']
            },
            //toolbox: {
            //    show: true,
            //    feature: {
            //        mark: { show: true },
            //        restore: { show: true },
            //        saveAsImage: { show: true }
            //    }
            //},
            polar: [
               {
                   indicator: [
                       { text: '销售费用', max: 6000 },
                       { text: '管理费用', max: 16000 },
                       { text: '人工费用', max: 30000 },
                       { text: '设备费用', max: 38000 },
                       { text: '材料费用', max: 52000 },
                       { text: '财务费用', max: 25000 }
                   ]
               }
            ],
            calculable: true,
            series: [
                {
                    name: '预算 vs 开销（Budget vs spending）',
                    type: 'radar',
                    data: [
                        {
                            value: [4300, 10000, 28000, 35000, 50000, 19000],
                            name: '预算分配（Allocated Budget）'
                        },
                         {
                             value: [5000, 14000, 28000, 31000, 42000, 21000],
                             name: '实际开销（Actual Spending）'
                         }
                    ]
                }
            ]
        };


        myChart1.setOption(option1);
        myChart2.setOption(option2);
        myChart3.setOption(option3);
        myChart4.setOption(option4);

    </script>

</body>
</html>
